.text-center {
  text-align: center;
}

.dashText {
	min-height: 25em;
 	/*background-color: red;*/
 	overflow:scroll;
  overflow-x:hidden;
}

.flowContainer {
	min-height: 15em;
 	/*background-color: red;*/
 	overflow:scroll;
  overflow-x:hidden;
  margin: .5em 0;
}

.descriptionText {
	min-height: 6em;
}
