<div class="container text-center">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>The Flowalyzer's Best Wordsmiths</h2>
		</div>
	</div>
	<div class="row">
		<div class=" dashText col-md-6 col-md-offset-3">
			<h4 ng-show="dataQuery === 'length'" ng-repeat="artist in dashboardInfo | orderBy: '-lengths'">
				{{artist.rapper}}: Average Flow Length {{artist.lengths}}
			</h4>
			<h4 ng-show="dataQuery === 'unique'" ng-repeat="artist in dashboardInfo | orderBy: '-uniqueness'">
				{{artist.rapper}}: Average Flow Uniqueness {{artist.uniqueness}}
			</h4>
		</div>
	</div> <!-- end row for the text box for -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="btn-group">
	  	  <button ng-click="getFlowLengths()" type="button" class="btn btn-default">Longest Flows</button>
				<button ng-click="getFlowUniqueness()" type="button" class="btn btn-default">Uniqueness Quotients</button>
				<button ng-click="getFlowWeightedUniqueness()" type="button" class="btn btn-default">Weighted Uniqueness</button>
			</div> <!-- end button group -->
		</div>
	</div> <!-- end row for the data buttons -->
	<div class="row">
		<h4 class="descriptionText col-md-6 col-md-offset-3">
			{{metricSummary}}
		</h4>
	</div> <!-- end row for the description box -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p>
				At this time all number may be skewed by the selected flows for each artist.
			</p>
		</div>
	</div>
</div> <!-- end container -->
