<nav class="navbar navbar-default" ng-controller="NavCtrl">
  <div class="container">
	  <div class="container-fluid col-md-5">
	    <div class="navbar-header">
	      <a class="navbar-brand raleway logoColor" href="#/">
	        <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> flowalyzer
	      </a>
	    </div>
	  </div> <!-- end logo -->
	  <div class="col-md-6">
		  <div class="navbar-form navbar-right">
			  <input ng-model="searchTerm" type="text" name="searchText" class="pavanam" placeholder="Search Term">
			  <div class="btn-group openSans">
		  	  <button ng-click="searchArtist()" type="button" class="btn-color btn btn-default">ARTIST</button>
					<button ng-click="searchTrack()" type="button" class="btn-color btn btn-default">TRACK</button>
			  </div>
			  	<a ng-href="#/input"><button type="button" class="openSans btn-color btn btn-default">Input</button></a>
			</div>
	  </div> <!-- search bar area -->
	 </div> <!-- outer container -->
</nav>
