<div class="row text-centered">
	<div class="col-md-12 text-center">
		<div class="row text-centered">
			<h2 class="col-md-10 col-md-offset-1 mainTitle">{{songInfo.data[0].title.toUpperCase()}}</h2>
			<p class="col-md-10 col-md-offset-1 pavanam">
				All flows for this song that are in the database.
			</p>
		</div>
		<div class="row openSans">
			<div class=" col-md-6">
				<h5>Flow Length and Unique Words</h5>
				<canvas id="lengthUniqueChart" class="chart chart-bar" chart-colors="colors" chart-data="LUdata" chart-labels="flowLabels" chart-series="LUseries">
		
				</canvas>
				<h4>
					<b>ENGLISH</b>
				</h4>
			</div>
			<div class=" col-md-6">
				<h5>Mean Word Length and Deviations</h5>
				<canvas id="wordLengthChart" class="chart chart-bar" chart-colors="colors" chart-data="wordData" chart-labels="flowLabels" chart-series="wordSeries">
		
				</canvas>
				<h4>
					<b><a target="_blank" href="https://en.wikipedia.org/wiki/Metaphone" title="">METAPHONE</a></b>
				</h4>
			</div>
		</div>
		<div class="songContainer row" >
			<div class="row lyricPadding" ng-repeat="flow in songInfo.data">
				<hr>
				<div class="row">
					<div class="flowContainer col-md-6">
						{{flow.raw}}
					</div> <!-- end container for Raw flow -->
					<div class="flowContainer col-md-6">
						{{flow.dmp}}
					</div> <!-- end container for DMP flow -->
				</div>
				<div class="row">
					<div class=" col-lg-12">
						<div class="col-md-6">
							<ul class="listStyles pavanam">
								<li><b>Flow length:</b> {{flow.l}}</li>
								<li><b>Unique words:</b> {{flow.u}}</li>
								<li><b>Uniqueness quotient:</b> {{flow.uniqueness.toFixed(2)}}</li>
							</ul>
						</div>
						<div class="col-md-6 pavanam">
							<ul class="listStyles">
								<li><b>Average word length:</b> {{flow.avg.toFixed(2)}}</li>
								<li><b>Word length deviation:</b> {{flow.stdev.toFixed(2)}}</li>
								<li><b>Relative deviation:</b> {{flow.rsd.toFixed(2)}}%</li>
							</ul>
						</div>
					</div>
				</div>
			</div> 
			<hr>
		</div>
		<div class="row text-centered openSans">
			<div class="col-md-6">
				<ul class="listStyles">
					<li><b>Flow length</b> is the number of words in a flow, this is used in other calculations.</li>
					<li><b>Unique words</b> is the number of unique words, a rough estimate of vocabulary.</li>
					<li><b>Uniqueness</b> is the unique words divided by the flow's length.</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul class="listStyles">
					<li><b>Average word length</b> is the average number of characters in the flow's words.</li>
					<li><b>Word length deviation</b> is a measure of the range of variance in length of words.</li>
					<li><b>Relative deviation</b> is deviation divided by the average word length.</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 openSans">
				<ul class="listStyles">
					<li><b>Capital Vowel</b>: Long vowel sound</li>
					<li><b>0</b>: Short <i>a</i> - <i>o</i> - <i>u</i> sound</li>
					<li><b>1</b>: Short <i>e</i> - <i>i</i> sound</li>
					<li><b>2</b>: <i>th</i> sound</li>
				</ul>
			</div>
		</div>
	</div>
</div> <!-- end container div -->
